{% load static %}

<style>
  .footer {
    background: #111;
    color: #ccc;
    padding: 20px 0;
    margin-top: 40px;
    font-family: 'Segoe UI', sans-serif;
  }

  .footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .footer-credit {
    flex-basis: 100%;
    font-size: 0.8em;
    color: #666;
  }
  .footer-credit p {
  margin: 2px 0;
  color: #888;
}
.footer-credit strong {
  color: #ccc;
}
a{
  text-decoration: none;
  color: white;
}
</style>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-credit">
      <p>&copy; 2025 - Created and designed by <strong><a href="https://www.linkedin.com/in/adil-km/" target="_blank">Adil</a></strong> & <strong><a href="https://www.linkedin.com/in/shamil-karangadan-b905b431b/" target="_blank">Shamil.</a></strong> <a style="text-decoration: underline;color:#0ff; " href="https://github.com/Adil-km/PathWave" onmouseover="this.style.color='#0af'" onmouseleave="this.style.color='#0ff'" target="_blank">View source code</a></p>
    </div>
  </div>
</footer>
